html,body{
    height: 100%;
    margin: 0px;
}

:root{
    --brand:#feb914;
    --accent: #fe8826;
    --links:#2c9fa2;
    --titles:#b21236;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url('../shared-fonts/BodoniFLF-Roman.woff2') format('woff2'),
        url('../shared-fonts/BodoniFLF-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


header{
    background-image: url(../siteload/giphy.gif);
    background-size: contain;
    background-repeat: repeat;    
    height: 100vh;
}

.header-overlay{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;

    box-shadow: inset 0px 0px 50px 50px #000000;
    display: flex;
    align-items: center;
    justify-content: center;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1{
    text-align: center;
    text-transform: uppercase;

    font-family: 'BodoniFLF';
    font-weight: lighter;
    letter-spacing: 10px;

    margin: 0px;
    padding: 0px;
    font-size: 7vw;
    color: white;

/*    font-style: italic; */

    color: var(--brand);

}

.accent{
    color: var(--accent);

}

button{
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bolder;
    letter-spacing: 4px;


    background-color: rgba(0, 0, 0, 0.8);
    border:1px solid var(--titles);
    color: var(--titles);

    padding: 20px;
    cursor: pointer;
}

