
:root{
    --brand:#feb914;
    --accent: #fe8826;
    --links:#2c9fa2;
    --titles:#b21236;
}

@font-face {
    font-family: 'BodoniFLF';
    src: url('../shared-fonts/BodoniFLF-Roman.woff2') format('woff2'),
        url('../shared-fonts/BodoniFLF-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


    .home-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
    text-align: center;
   }
   
   .video-cont{
       position: relative;
     overflow: hidden;
     width: 100%;
     padding-top: 56.25%;
   }
   
   .video-cont iframe{
            border: none;
           position: absolute;
           top: 0;
           left: 0;
           bottom: 0;
           right: 0;
           width: 100%;
           height: 100%;
         
   }
   
   
   .home-principal h2{
       color: var(--brand);
       text-transform: uppercase;
       letter-spacing: 10px;
   }
   
   
   .home-section {

   flex-grow: 1;
   border: 1px solid var(--titles);
   padding: 20px;

   }
   
   
   .home-section>h2{
       text-align: center;
       margin-bottom: 45px;
       color: var(--titles);
       text-transform: uppercase;
       letter-spacing: 10px;
   }
   
   
   
   
   .section-card{
       color: white;
       font-family: monospace;
       font-size: 16px;
       letter-spacing: 2px;
        text-transform: uppercase;
   
   }
   